:root {
	--color-primary: var(--primary-700);
	--color-on-primary: var(--primary-100);

	--color-background: var(--neutral-100);
	--color-on-background: var(--neutral-800);

	--color-surface: var(--neutral-200);
	--color-on-surface: var(--neutral-900);

	--color-surface-variant: var(--neutral-300);
	--color-on-surface-variant: var(--neutral-800);

	--color-subtext: var(--neutral-500);
}
