:root {
	--color-primary: var(--primary-300);
	--color-on-primary: var(--primary-900);

	--color-background: var(--neutral-800);
	--color-on-background: var(--neutral-100);

	--color-surface: var(--neutral-700);
	--color-on-surface: var(--neutral-50);

	--color-surface-variant: var(--neutral-600);
	--color-on-surface-variant: var(--neutral-100);

	--color-subtext: var(--neutral-400);
}
